.jumbotron {
    background-color: #B5A4A3;
    color: white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #B5A4A3;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    background-color: #535E4B;
}
